---
layout: layout.njk
date: "git Last Modified" # This could be really resource intensive in the future.
tags: wiki
---

<article>
    <h2>
        {{ title }}
    </h2>
    <div>
        Last updated: {{page.date.toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'})}}
    </div>
    <p>{{ content | safe }}</p>
</article>
