---
layout: layout.njk
date: "git Created" # This could be really resource intensive in the future.
tags: wiki
---

<article>
    <h2>
        {{ title }}
    </h2>
    <p>{{ content | safe }}</p>
</article>
